<div class="container" style="margin-top: 3%;">

    <div class="container" style="font-family: Calibri;margin-top:5%;">
        <h4>All User</h4>
        <table class="table table-striped" style="font-size: 11px;">
            <tr style="background-color: skyblue">
                <th> Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Username</th>
                <th>Balance</th>
                <th>Image</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr *ngFor="let user of this.user">

                <td *ngIf="!this.user.isedit">{{this.user.Name}}</td>
                <td> <input type="text" placeholder="Name" class="form-control input-sm" [(ngModel)]="this.user.Name" />
                </td>

                <td *ngIf="!this.user.isedit">{{this.user.Email}}</td>
                <td> <input type="Email" placeholder="Email" class="form-control input-sm"
                        [(ngModel)]="this.user.Email" />
                </td>

                <td *ngIf="!this.user.isedit">{{this.user.Phone}}</td>
                <td> <input type="text" placeholder="Phone " class="form-control input-sm"
                        [(ngModel)]="this.user.Phone" />
                </td>

                <td *ngIf="!this.user.isedit">{{this.user.Username}}</td>
                <td> <input type="text" placeholder="Username" class="form-control input-sm"
                        [(ngModel)]="this.user.Username" /></td>

                <td *ngIf="!this.user.isedit">{{this.user.Balance}}</td>
                <td> <input type="text" placeholder="Balance" class="form-control input-sm"
                        [(ngModel)]="this.user.Balance" /></td>

                <td *ngIf="!this.user.isedit">{{this.user.Image}}</td>
                <td> <input type="text" placeholder="Image" class="form-control input-sm"
                        [(ngModel)]="this.user.Image" /></td>


                <td><button class="btn btn-danger" (click)="this.user.isedit=false" *ngIf="this.user.isedit">Cancel</button></td>
        
                <td><button class="btn btn-primary" (click)="updateUser(this.user)"*ngIf="this.user.isedit">Save</button>
        
               <td><button class="btn btn-primary" (click)="this.user.isedit=true" *ngIf="!this.user.isedit">Edit</button></td>
      
                <td><button class="btn btn-danger" (click)="deleteUser(this.user)">Delete</button></td>
                <td><button class="btn btn-primary" (click)="freezeUser(this.user)">Freeze</button></td>
            </tr>
        </table>
    </div>
</div>