<!-- no additional media querie or css is required -->
<div class="container" style="font-family: Calibri;">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Covid Coin Login
                </div>
                <div class="card-body">
                    <form action="" autocomplete="off">
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Enter Username"
                                [(ngModel)]="this.name">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Enter Password"
                                [(ngModel)]="this.password">
                        </div>
                        <button type="button" id="sendlogin" class="btn btn-primary" (click)="loginUser()">Login</button>
                    </form>
                </div>
            </div>
        </div>
        <img src="../../../assets/images/cvdlogo.png">
    </div>
</div>