<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="font-family: Tahoma;font-size: 12px;">
    <a class="navbar-brand" href="#">CovidCoin Wallet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
        aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown" *ngIf="this.userService.loggedInUser.Role==1">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    User
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="'/add-user'">Add User</a>
                    <a class="dropdown-item" [routerLink]="'/show-user'">Show all Users</a>
                </div>
            </li>
            <li class="nav-item dropdown" *ngIf="this.userService.loggedInUser.Role==1">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Supervisor
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="'/add-supervisor'">Add Supervisor</a>
                    <a class="dropdown-item" [routerLink]="'/show-supervisor'">Show Supervisors</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Deals
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="'/add-deal'"
                        *ngIf="this.userService.loggedInUser.Role==1">Add Deal</a>
                    <a class="dropdown-item" [routerLink]="'/deal-center'">Deal Center</a>
                    <a class="dropdown-item">Deal History</a>
                    <a class="dropdown-item">Buy Deal</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/app-leverage'">Leverage</a>
            </li>
        </ul>

        <span style="color: white;margin-right:2%;">Wallet Balance : {{this.userService.loggedInUser.Balance}}
            Coins</span>
        <button class="btn btn-secondary btn-sm my-2 my-sm-0" (click)="logoutUser()">Logout</button>
    </div>
</nav>