<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-family: Tahoma;">
    <a class="navbar-brand" href="#">CovidCoin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
        aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    User
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Add User</a>
                    <a class="dropdown-item" href="#">Show all Users</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Supervisor
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Add Supervisor</a>
                    <a class="dropdown-item" href="#">Show Supervisors</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Deals
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Add Deal</a>
                    <a class="dropdown-item" href="#">Deal Center</a>
                    <a class="dropdown-item" href="#">Deal History</a>
                    <a class="dropdown-item" href="#">Buy Deal</a>
                </div>
            </li>
        </ul>
        <button class="btn btn-secondary btn-sm my-2 my-sm-0" type="submit">Logout</button>
    </div>
</nav>